<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.odapg.alfredespanso</string>
	<key>category</key>
	<string>Projects</string>
	<key>connections</key>
	<dict>
		<key>014833DE-22B5-49CB-AF0F-C8A485FF022C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12D2A7F5-BB88-44AA-BADA-2ED3D16816CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>05292EF6-3FE2-45EB-B8FF-0867E2AF0145</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>71B058E3-883B-4C84-8808-02CBB03743C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>069F1594-5AF0-4E97-931D-251B48A58DFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32CB8E1D-313E-4FFA-B3D9-E0F984DFA98B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>092984AA-BE68-457B-95D3-5D2B62B928B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D6ECF51-EDF0-4BB8-A237-D391E0BCB0E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F9F55150-CC02-41DC-A450-EC8003576FF2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0CFFE904-1BCD-47B3-BD09-247A22AA9FDB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C11F2F7-7162-465F-9FB5-A57F24434965</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>32CB8E1D-313E-4FFA-B3D9-E0F984DFA98B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B555F5B-BDB8-4970-88BB-95445B34E8B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4FFCA322-D84C-4BBA-8AE1-5D0E3929BDDB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>092984AA-BE68-457B-95D3-5D2B62B928B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>71B058E3-883B-4C84-8808-02CBB03743C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F3F5DAB-0B77-40C5-9B19-C7E02445E1F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C934F9E-BEDE-4826-BAF1-A8CEA8942594</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>069F1594-5AF0-4E97-931D-251B48A58DFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>81B3743D-F548-407E-8C70-A449AE83D893</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05292EF6-3FE2-45EB-B8FF-0867E2AF0145</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B555F5B-BDB8-4970-88BB-95445B34E8B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D812A704-8868-4032-8F0A-5A40435A60A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D6ECF51-EDF0-4BB8-A237-D391E0BCB0E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EADD1E88-4B58-41E5-8AD7-97948F81EF92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A646CF38-BE5F-4FA1-B49B-488A07EBE53E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7E086BA-5BA9-49E5-B628-D73B174B4080</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7C934F9E-BEDE-4826-BAF1-A8CEA8942594</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Convert the espanso file and add an icon to the .alfredsnippet file</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BBE8D81B-EC7D-4283-892C-89BDABCCB330</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4FFCA322-D84C-4BBA-8AE1-5D0E3929BDDB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C6F670FD-BAF3-43CB-9BC3-15721096F145</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBE8D81B-EC7D-4283-892C-89BDABCCB330</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C7E086BA-5BA9-49E5-B628-D73B174B4080</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>014833DE-22B5-49CB-AF0F-C8A485FF022C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DC80189F-6C6E-4377-972C-C94C16C74058</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>40EC33E7-2212-4FB4-8C35-DECEDF278B1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9EB0209E-A19B-49B0-A324-5F96E203C901</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EADD1E88-4B58-41E5-8AD7-97948F81EF92</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC80189F-6C6E-4377-972C-C94C16C74058</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F9F55150-CC02-41DC-A450-EC8003576FF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0CFFE904-1BCD-47B3-BD09-247A22AA9FDB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>597D8B36-0E58-4803-BC6A-3ABD0EF2E2C2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>odapg</string>
	<key>description</key>
	<string>Tools for snippets between espanso and Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred-espanso</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Appended {var:snippet} to {var:filename}</string>
				<key>title</key>
				<string>Alfred-Espanso</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>40EC33E7-2212-4FB4-8C35-DECEDF278B1C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<true/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Append to espanso file</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>C6F670FD-BAF3-43CB-9BC3-15721096F145</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFSName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<false/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<false/>
					</dict>
				</array>
				<key>includesystem</key>
				<true/>
				<key>keyword</key>
				<string>shes</string>
				<key>limit</key>
				<integer>200</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Type space to show them all</string>
				<key>title</key>
				<string>Search and select an espanso file</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>9D6ECF51-EDF0-4BB8-A237-D391E0BCB0E9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys, re

query = sys.argv[1]
query = query.translate(str.maketrans({'"':  r'\"',
									 "\\": r"\\"}))

sys.stdout.write(query)</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>9</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BBE8D81B-EC7D-4283-892C-89BDABCCB330</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>{var:filename}</string>
				<key>filetext</key>
				<string>  - trigger: ""
    replace: "{var:snippet}"
</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>DC80189F-6C6E-4377-972C-C94C16C74058</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "{query}",
    "config" : {
      "scopes" : [
        "{var:YAML_Folder}"
      ]
    },
    "variables" : {
      "folder" : "{var:YAML_Folder}"
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>092984AA-BE68-457B-95D3-5D2B62B928B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>snippet</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4FFCA322-D84C-4BBA-8AE1-5D0E3929BDDB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>filename</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EADD1E88-4B58-41E5-8AD7-97948F81EF92</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>{var:filename}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>9EB0209E-A19B-49B0-A324-5F96E203C901</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>Space</string>
				<key>keycode</key>
				<integer>49</integer>
				<key>keymod</key>
				<integer>0</integer>
				<key>overridewithargument</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>1C11F2F7-7162-465F-9FB5-A57F24434965</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:show_files_directly}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>show files directly</string>
						<key>uid</key>
						<string>597D8B36-0E58-4803-BC6A-3ABD0EF2E2C2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F9F55150-CC02-41DC-A450-EC8003576FF2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.01</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>0CFFE904-1BCD-47B3-BD09-247A22AA9FDB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 alf_to_esp.py "${filename}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>71B058E3-883B-4C84-8808-02CBB03743C9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Convert Alfred snippets to espanso file</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9F3F5DAB-0B77-40C5-9B19-C7E02445E1F4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<true/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Convert snippets → espanso</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>81B3743D-F548-407E-8C70-A449AE83D893</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>filename</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>05292EF6-3FE2-45EB-B8FF-0867E2AF0145</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<true/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Convert espanso → Alfred</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>A646CF38-BE5F-4FA1-B49B-488A07EBE53E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Convert Alfred snippets to espanso file</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>12D2A7F5-BB88-44AA-BADA-2ED3D16816CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 esp_to_alf.py "${filename}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>014833DE-22B5-49CB-AF0F-C8A485FF022C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>filename</key>
					<string>{query}</string>
					<key>icon</key>
					<string>no</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C7E086BA-5BA9-49E5-B628-D73B174B4080</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 esp_to_alf.py "${filename}" --icon "${icon_file}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8B555F5B-BDB8-4970-88BB-95445B34E8B4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>This will be the icon of the Alfred snippet set</string>
				<key>title</key>
				<string>Select a PNG file</string>
				<key>types</key>
				<array>
					<string>public.png</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>069F1594-5AF0-4E97-931D-251B48A58DFA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Convert Alfred snippets to espanso file</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D812A704-8868-4032-8F0A-5A40435A60A2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>filename</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7C934F9E-BEDE-4826-BAF1-A8CEA8942594</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>icon_file</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>32CB8E1D-313E-4FFA-B3D9-E0F984DFA98B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## About Alfred-espanso

This workflow converts **simple** snippets from Alfred to espanso and vice-versa.
It allows also to append a bit of text (for instance from the clipboard history) to an existing snippet file in your espanso repository.

## Installation

Install the workflow and add ~/Library/Application Support/espanso to Features &gt; Default Results &gt; Search Scopes in Alfred's preferences.

## Usage

The workflow consists in three Universal Actions:

**1. Convert snippets → espanso**

Apply to an .alfredsnippet file (exported from Features &gt; Snippets). 
This converts it to an espanso .yml file.
You can then put this .yml file in ~/Library/Application Support/espanso.

**2. Convert espanso → Alfred**

Apply to an .yml espanso file
This converts it to an .alfredsnippets file.
You can then install it by double-cliking.
If you hit command ⌘ before selecting this action, you will have the possibility to add an icon to this .alfredsnippet set.

Both these action work for **simple** (*static, one-to-one*) snippets

**3. Append to an espanso file**

Activate on a text (e.g. from the clipboard history). Activate this action and select a file from your ~/Library/Application Support/espanso/match folder. This will append the text at the end of the file, and open it (in your default app for .yml files, or with an app that you can choose), so that you can define the trigger.</string>
	<key>uidata</key>
	<dict>
		<key>014833DE-22B5-49CB-AF0F-C8A485FF022C</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>05292EF6-3FE2-45EB-B8FF-0867E2AF0145</key>
		<dict>
			<key>note</key>
			<string>Save filename to variable</string>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>069F1594-5AF0-4E97-931D-251B48A58DFA</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>635</real>
		</dict>
		<key>092984AA-BE68-457B-95D3-5D2B62B928B4</key>
		<dict>
			<key>note</key>
			<string>Prepare file filter</string>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>0CFFE904-1BCD-47B3-BD09-247A22AA9FDB</key>
		<dict>
			<key>note</key>
			<string>Wait a bit!</string>
			<key>xpos</key>
			<real>740</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>12D2A7F5-BB88-44AA-BADA-2ED3D16816CE</key>
		<dict>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>1C11F2F7-7162-465F-9FB5-A57F24434965</key>
		<dict>
			<key>xpos</key>
			<real>825</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>32CB8E1D-313E-4FFA-B3D9-E0F984DFA98B</key>
		<dict>
			<key>note</key>
			<string>Save the icon filename</string>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>665</real>
		</dict>
		<key>40EC33E7-2212-4FB4-8C35-DECEDF278B1C</key>
		<dict>
			<key>xpos</key>
			<real>1000</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>4FFCA322-D84C-4BBA-8AE1-5D0E3929BDDB</key>
		<dict>
			<key>note</key>
			<string>Save text to variable and clear query</string>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>71B058E3-883B-4C84-8808-02CBB03743C9</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>7C934F9E-BEDE-4826-BAF1-A8CEA8942594</key>
		<dict>
			<key>note</key>
			<string>Save filename to variable</string>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>665</real>
		</dict>
		<key>81B3743D-F548-407E-8C70-A449AE83D893</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>8B555F5B-BDB8-4970-88BB-95445B34E8B4</key>
		<dict>
			<key>xpos</key>
			<real>535</real>
			<key>ypos</key>
			<real>635</real>
		</dict>
		<key>9D6ECF51-EDF0-4BB8-A237-D391E0BCB0E9</key>
		<dict>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>9EB0209E-A19B-49B0-A324-5F96E203C901</key>
		<dict>
			<key>note</key>
			<string>Open the file in the default application for .yml files.
One can set a particular app if needed.</string>
			<key>xpos</key>
			<real>995</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>9F3F5DAB-0B77-40C5-9B19-C7E02445E1F4</key>
		<dict>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>A646CF38-BE5F-4FA1-B49B-488A07EBE53E</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>BBE8D81B-EC7D-4283-892C-89BDABCCB330</key>
		<dict>
			<key>note</key>
			<string>Escape characters
" \</string>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>C6F670FD-BAF3-43CB-9BC3-15721096F145</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>C7E086BA-5BA9-49E5-B628-D73B174B4080</key>
		<dict>
			<key>note</key>
			<string>Save filename to variable</string>
			<key>xpos</key>
			<real>215</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>D812A704-8868-4032-8F0A-5A40435A60A2</key>
		<dict>
			<key>xpos</key>
			<real>675</real>
			<key>ypos</key>
			<real>635</real>
		</dict>
		<key>DC80189F-6C6E-4377-972C-C94C16C74058</key>
		<dict>
			<key>xpos</key>
			<real>825</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>EADD1E88-4B58-41E5-8AD7-97948F81EF92</key>
		<dict>
			<key>xpos</key>
			<real>760</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>F9F55150-CC02-41DC-A450-EC8003576FF2</key>
		<dict>
			<key>note</key>
			<string>Show the espanso files directly by hitting space</string>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/.espanso/</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<false/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Folder to espanso files</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>YAML_Folder</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string>If this box is checked, when appending a snippet to an espanso file, Alfred will directly show the list of files in the espanso folder without prompt</string>
			<key>label</key>
			<string>Show files directly</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>show_files_directly</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/odapg</string>
</dict>
</plist>
